{% extends 'layout' %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
{% endblock %}

{% block content %}

<h2>Új ingatlan felvitele</h2>

{% if old('errors') %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Hibalista</h3>
  </div>
  <div class="panel-body">
    <ul>
      {% for error in old('errors') %}
      <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<h1>Adatok megadása</h1>
<form class="form-horizontal" action="" method="post" data-toggle="validator">

  {{ csrfField }}

  <div class="form-group has-feedback">
    <label for="city" class="col-lg-2 control-label">Város</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="city" name="city" placeholder="Város"
        value="{{ old('city') }}">
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

    <div class="form-group has-feedback">
    <label for="address" class="col-lg-2 control-label">Cím</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="address" name="address" placeholder="Cím"
        value="{{ old('address') }}">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label for="property_type" class="col-lg-2 control-label">Típus</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="property_type" name="property_type" placeholder="Típus"
        value="{{ old('address') }}">
       <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

    <div class="form-group has-feedback">
    <label for="price" class="col-lg-2 control-label">Ár</label>
    <div class="col-lg-10">
      <div class="input-group">
      <input required type="number" class="form-control" id="price" name="price" placeholder="ÁrFt"
        value="{{ old('price') }}">  
        <span class="input-group-addon">Ft</span>  
         <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>   
      </div> 
    </div>
  </div>
      <div class="form-group has-feedback">
    <label for="size" class="col-lg-2 control-label">Méret</label>
    <div class="col-lg-10">
      <div class="input-group">
      <input required type="number" class="form-control" id="size" name="size" placeholder="Méret"
        value="{{ old('size') }}">
        <span class="input-group-addon">nm</span>
       <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>

        <div class="form-group has-feedback">
    <label for="condition" class="col-lg-2 control-label">Állapot</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="condition" name="condition" placeholder="Állapot"
        value="{{ old('condition') }}">
       <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group">
    <label for="floor" class="col-lg-2 control-label">Emelet</label>
    <div class="col-lg-10">
      <input type="number" class="form-control" id="floor" name="floor" placeholder="Emelet"
        value="{{ old('floor') }} ">
    </div>
  </div>
  <div class="form-group">
  <label for="isSale" class="col-lg-2 control-label">Eladó</label>
  <div class="col-lg-10">
  <input type="checkbox" name="isSale" value="N">
  </div>
</div>
  <div class="form-group">
  <label for="isRent" class="col-lg-2 control-label ">Kiadó</label>
  <div class="col-lg-10">
  <input type="checkbox" class="large" name="isRent" value="N">
  </div>
</div>
</br>
  <div class="form-group has-feedback">
    <label for="desctiption" class="col-lg-2 control-label ">Leírás</label>
    <div class="col-lg-10">
      <textarea required class="form-control" rows="3" id="desctiption" name="desctiption">{{ old('desctiption') }}</textarea>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Mégse</button>
      <button type="submit" class="btn btn-primary">Mentés és tovább</button>
    </div>
  </div>
</form>

{% endblock %}