{% extends 'layout' %}
{% block scripts %}
<script src="/scripts/popup.js"></script>
{% endblock %}
{% block content %}

<h2>Kiemelt hirdetések</h2>

<div class="row">
  <form action="/advertisments" method="GET" style="position: relative;">
    {{ csrfField | safe }}
    <div class="input-group search-box">
      <input type="text" class="form-control recipe-search" placeholder="Keresés..." name="propertyAddress" autocomplete="off">
      <span class="input-group-btn">
        <button class="btn btn-info" type="submit">Mehet!</button>
      </span>
    </div>
    
  </form>

  <div class="panel panel-default">
    <div class="panel-heading">Kiemelt hirdetésink</div>
      <div class="panel-body">
        <ul id="menu" class="list-group">
        {% for property in properties %}
          <li data-position="" class="list-group-item clearfix">
              <div class="col-md-4 col-sm-6">
            {% if property.firstImage.image == null %}
                <img class="img-circle" src="/Image/default.png" width="300" height="150">  
            {% else %}
              <img class="img-circle" src="{{ property.firstImage.image }}" alt="image"
              width="300" height="150">
            {% endif %}
              </div>
              <div class="col-md-3 col-sm-6">
              <p class="text-center">Város: {{ property.city }} </p></br>
              <p class="text-center">Cím: {{ property.address }} </p>
              </div>
              <div class="col-md-3 col-sm-6">
              <p id="ar" class="text-center">Ár: {{ property.price }} Ft</p></br>
              <p class="text-center">Terület: {{ property.size }} nm </p>
              </div>
              <div class="col-md-2 col-sm-6">
                <a href="/advertisments/{{ property.id }}">
                  Részletek
                </a>
              </div>
          </li>
          
        {% endfor %}
      </ul>
    </div>    
  </div>
</div>
{% endblock %}





      
        
